.jumbotron {
  background-image: url("../images/providence-doucet-wPaBwop_rSo-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}