@import "variables";
@import "globals";
@import "header";
@import "footer";
@import "music";

.bio-image {
    background-repeat: no-repeat;
    min-height: 900px;
    height: fit-content;
}

#claudia {
    background-position: 80% 20%;
}

#bob {
    background-position: 32% 10%;
}

#ross {
    background-position: 95% 38%;
}

.bio-text {
    color: white;
    background: rgba(0, 0, 0, 0.85);
    min-height: 900px;
    height: fit-content;
    overflow: auto;
}

@import "breakpoints";